/* Vos customisations des classes de Bootstrap */

/* Responsive Styling */

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

/* Pour set le margin et padding à 0 pour le changer par la suite*/

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  color: white;
  font-family: "Arvo", serif;
  font-weight: lighter;
  font-style: normal;
}

header {
  background-color: #222222;
}

nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

nav img {
  margin-left: 200px;
  object-fit: contain;
}

nav div {
  display: flex;
  gap: 20px;
  margin-right: 200px;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: #8d8686;
}
nav a:hover {
  color: white;
}

#home {
  height: 800px;
  background-image: url("../images/hero-image.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  font-size: 4rem;
  padding-bottom: 50px;
}

#home div {
  width: 50%;
  text-align: center;
}
#home p {
  color: #f3f3f3;
  padding-bottom: 50px;
  justify-content: center;
  font-size: large;
}
#btnlearn {
  background-color: #d9534f;
  color: white;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: x-large;
}
#btnlearn:hover {
  background-color: #b14440;
  cursor: pointer;
}

#home img {
  display: flex;
  justify-self: center;
  align-items: end;
  padding-top: 50px;
  
}

#who {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: black;
  }
  #brand {
    display: flex;
    justify-self: center;
    padding-bottom: 30px;
  }


  #who h2 {
    text-align: center;
    
    color: #d9534f;
    padding-bottom: 5px;
  }

  hr {
    border-color: #d9534f;
    width: 10%;
    display: flex;
    justify-self: center;
  }

  #who p {
    padding-top: 30px;
    width: 60%;
    text-align: center;
    justify-self: center;
  }







/* Font family */

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 100;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

